<div>
  <h2>Employee Details</h2>
  <div>
    <label>ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="id">{{emp.id}}</label>
    <br>
    <label>Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="name">{{emp.name}}</label>
    <br>
    <label>Location:</label>&nbsp;<label id="location">{{emp.location}}</label>
    <br>
    <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="email">{{emp.email}}</label>
    <br>
    <label>Mobile:</label>&nbsp;&nbsp;&nbsp;&nbsp;<label id="mobile">{{emp.mobile}}</label>
    <br>
  </div>
  <button (click)="goBack()" id="back">Back</button>
</div>